# Multi-Linear Regression

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
# Import your data
df=pd.read_csv("ml.csv")
df.head()

      Teacher  YearsExperience  Salary   Age  Distance
0  Sir Shafiq              1.1   39343  31.1     77.78
1  Sir Haroon              1.3   46205  31.6     74.67
2    Sir Asif              1.5   37731  31.9     56.78
3    Sir Umar              2.0   43525  32.5     67.89
4  SIr Junaid              2.2   39891  29.7     56.90

In [3]:
df.tail()

        Teacher  YearsExperience  Salary   Age  Distance
7    Mam Tahira              3.2   54425  24.8     56.89
8      Mam Alia              3.7   60479  45.9     54.34
9     Mam Asifa              3.9   64590  50.5     56.78
10  Mam Ayesha               4.0   65666  67.8     45.67
11     Mam Sana              5.0   70000  70.0     98.98

In [4]:
x=df[['Age','Distance','YearsExperience']]
y=df['Salary']

In [5]:
# Create and fit your model
model=LinearRegression().fit(x,y)
model

LinearRegression()

In [6]:
#coefficient
model.coef_

array([ 1.74390152e+02, -2.67676665e+00,  6.77966834e+03])

In [7]:
model.intercept_

27399.337755865923

In [8]:
model.predict([[31.1,77.78,1.1]])

c:\Users\CC\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([40072.30775484])

In [9]:
# angy wo sara kam karna hai jo ml_01.ipynb mu kya tha hamny says alhamdolilah

In [11]:
model.score(x,y)

0.8544246029114722