In [1]:
#import libraries and dataset
import pandas as pd
d=pd.read_csv("biryani.csv")
d.head()

   Age  Height  Weight  Gender Likeness
0   23     180      70    male  biryani
1   24     181      71  female   samosa
2   25     175      80    male   pakora
3   30     160      75  female  biryani
4   34     167      70    male  biryani

In [2]:
d['Gender']=d['Gender'].replace("male",1)
d['Gender']=d['Gender'].replace("female",0)

In [3]:
d.head()

   Age  Height  Weight  Gender Likeness
0   23     180      70       1  biryani
1   24     181      71       0   samosa
2   25     175      80       1   pakora
3   30     160      75       0  biryani
4   34     167      70       1  biryani

In [4]:
#Selection o input and output variable
X=d[['Weight','Gender','Height','Age']]
y=d['Likeness']

In [5]:
X.head()

   Weight  Gender  Height  Age
0      70       1     180   23
1      71       0     181   24
2      80       1     175   25
3      75       0     160   30
4      70       1     167   34

In [7]:
y.head()

0    biryani
1     samosa
2     pakora
3    biryani
4    biryani
Name: Likeness, dtype: object

In [8]:
#MODEL AND PREDICTION
from sklearn.neighbors import KNeighborsClassifier

model= KNeighborsClassifier(n_neighbors=5)
# Train model using the training set
model.fit(X,y)
predicted=model.predict([[100,170,90,0]])
predicted

c:\Users\CC\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['biryani'], dtype=object)

In [9]:
model.predict(X)

array(['biryani', 'biryani', 'biryani', 'biryani', 'biryani', 'biryani',
       'biryani', 'biryani', 'biryani'], dtype=object)

In [67]:
#metrices for evalution
## split data into train and test(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)#80% training data and 20% testing
# create and fitting a model
model=KNeighborsClassifier(n_neighbors=3).fit(X_train,y_train)
predect_values=model.predict(X_train)

predect_values

score=accuracy_score(y_train,predect_values)
print("The accuracy score of our model is ",score)

The accuracy score of our model is  0.5714285714285714

In [89]:
#metrices for evalution
## split data into train and test(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)#80% training data and 20% testing
# create and fitting a model
model=KNeighborsClassifier(n_neighbors=5).fit(X_train,y_train)
predect_values=model.predict(X_train)

predect_values
score=accuracy_score(y_train,predect_values)
print("The accuracy score of our model is ",score)

The accuracy score of our model is  0.7142857142857143

In [70]:
#metrices for evalution
## split data into train and test(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)#80% training data and 20% testing
# create and fitting a model
model=KNeighborsClassifier(n_neighbors=7).fit(X_train,y_train)
predect_values=model.predict(X_train)

predect_values
score=accuracy_score(y_train,predect_values)
print("The accuracy score of our model is ",score)

The accuracy score of our model is  0.42857142857142855

In [71]:
score=accuracy_score(y_train,predect_values)

In [72]:
print("The accuracy score of our model is ",score)

The accuracy score of our model is  0.42857142857142855