Indexing
String

In [1]:
a="samosa pakora"
a

'samosa pakora'

In [2]:
a[0]

's'

In [3]:
a[12]

'a'

In [4]:
len(a)

13

In [5]:
a[0:6]

'samosa'

In [6]:
a[0:13]

'samosa pakora'

In [7]:
a[-6:13]

'pakora'

In [8]:
a[-13:13]

'samosa pakora'

String Method

In [9]:
food="biryani"
food

'biryani'

In [10]:
len(food)

7

capitalize

In [11]:
food.capitalize()

'Biryani'

Upper case

In [12]:
food.upper()

'BIRYANI'

Lower Case

In [13]:
food.lower()

'biryani'

Replace Case

In [14]:
food.replace("b","Sh")

'Shiryani'

In [15]:
name="aamir ali hunjra shab raJpot"
name

'aamir ali hunjra shab raJpot'

Count Case

In [16]:
name.count("a")

6

In [17]:
name.find("j")

13

Find Case

In [18]:
name.find("J")

24

Spilit Case

In [19]:
food=("I love, samosa, pakora, raita, biryani and karahi")
food

'I love, samosa, pakora, raita, biryani and karahi'

In [20]:
food.split(",")

['I love', ' samosa', ' pakora', ' raita', ' biryani and karahi']

Basic data structure in Python

Tuple

In [21]:
tup1=(1,"python",3.5,True)
tup1

(1, 'python', 3.5, True)

In [22]:
type(tup1)

tuple

In [23]:
tup1[0]

1

In [24]:
tup1[1]

'python'

In [25]:
tup1[2]

3.5

In [26]:
tup1[0:3]

(1, 'python', 3.5)

In [64]:
len(tup1)

4

In [28]:
tup2=(3,"amir",3.9,False)
tup2

(3, 'amir', 3.9, False)

In [29]:
tup1+tup2

(1, 'python', 3.5, True, 3, 'amir', 3.9, False)

In [30]:
tup1*3+tup2

(1,
 'python',
 3.5,
 True,
 1,
 'python',
 3.5,
 True,
 1,
 'python',
 3.5,
 True,
 3,
 'amir',
 3.9,
 False)

In [31]:
tup3=(2,3,5,3,567)
tup3

(2, 3, 5, 3, 567)

In [32]:
len(tup3)

5

In [66]:
tup3[0]

2

In [33]:
min(tup3)

2

In [34]:
max(tup3)

567

In [35]:
tup3*2

(2, 3, 5, 3, 567, 2, 3, 5, 3, 567)

In [36]:
# concatinate
tup1+tup2+tup3

(1, 'python', 3.5, True, 3, 'amir', 3.9, False, 2, 3, 5, 3, 567)

---

-2. Lists

In [67]:
list1=[1,"amir khan",True]
list1

[1, 'amir khan', True]

In [68]:
type(list1)

list

In [70]:
len(list1)

3

In [40]:
list2=[1,2,3,"amir","hunjra","shab",False,34.6]
list2

[1, 2, 3, 'amir', 'hunjra', 'shab', False, 34.6]

In [71]:
list1+list2

[1, 'amir khan', True, 34.6, False, 'shab', 'hunjra', 'amir', 3, 2, 1]

In [74]:
list1.reverse()
list1

[True, 'amir khan', 1]

In [75]:
list2.reverse()
list2

[1, 2, 3, 'amir', 'hunjra', 'shab', False, 34.6]

In [77]:
list1.append("ihsan")
list1

[True, 'amir khan', 1, 'ihsan']

In [78]:
list1.count(True)
list1

[True, 'amir khan', 1, 'ihsan']

In [79]:
list3=[12,34,2,31,2,34,34,34,67,46]

In [80]:
list3

[12, 34, 2, 31, 2, 34, 34, 34, 67, 46]

In [81]:
len(list3)

10

# sorting Function

In [82]:
list3.sort()
list3

[2, 2, 12, 31, 34, 34, 34, 34, 46, 67]

In [83]:
list3*2

[2, 2, 12, 31, 34, 34, 34, 34, 46, 67, 2, 2, 12, 31, 34, 34, 34, 34, 46, 67]

In [84]:
list1+list2

[True, 'amir khan', 1, 'ihsan', 1, 2, 3, 'amir', 'hunjra', 'shab', False, 34.6]

# dictionaries data type

In [85]:
food1={"samosa":30,"pakora":100,"raita":40,"salad":50,"checken roll":60}
food1

{'samosa': 30, 'pakora': 100, 'raita': 40, 'salad': 50, 'checken roll': 60}

In [86]:
type(food1)

dict

In [87]:
# Extract data
food1.keys()

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'checken roll'])

In [88]:
food1.values()

dict_values([30, 100, 40, 50, 60])

In [90]:
#Adding new elements
food1["Tikki"]=10
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 40,
 'salad': 50,
 'checken roll': 60,
 'Tikki': 10}

In [92]:
#Update values
food1["Tikki"]=40
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 40,
 'salad': 50,
 'checken roll': 60,
 'Tikki': 40}

In [93]:
food2={"dates":50,"choclates":100,"swanyya":1000}
food2

{'dates': 50, 'choclates': 100, 'swanyya': 1000}

In [94]:
food1.update(food2)

In [95]:
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 40,
 'salad': 50,
 'checken roll': 60,
 'Tikki': 40,
 'dates': 50,
 'choclates': 100,
 'swanyya': 1000}

4- Set

In [96]:
s1={1,2,"amir","amjad",45.6,True}
s1

{1, 2, 45.6, 'amir', 'amjad'}

In [97]:
s1.add("afzal")
s1

{1, 2, 45.6, 'afzal', 'amir', 'amjad'}

In [98]:
s1.remove("afzal")
s1

{1, 2, 45.6, 'amir', 'amjad'}